
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ion-list>
    <ion-item *ngFor="let item of data">
      <ion-label>
        <h2>{{ item.first_name }}</h2>
        <h3>{{ item.last_name }}</h3>
        <p>{{ item.email }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->


  <h1>How to Scroll to Bottom of Div Element in Angular - ItSolutionStuff.com</h1>
  <ion-button expand="block" (click)="scrollContent('bottom')">Scroll Bottom</ion-button>
<div #target>
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Libero ea tempora voluptatibus iusto maiores fuga? Tempore assumenda aspernatur
facilis et dolorum iusto maiores esse, earum laboriosam nostrum totam in
accusantium?
</div>


</ion-content>
