<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>          
    <img src='assets/logo_top.png'
      style="padding-top: 5px; padding-bottom: 2px; width: 23%; height: 23%;max-width:87px;max-height:43px"/>
    
  </ion-toolbar>
</ion-header>

<ion-content><ion-grid class="fullheight xc">
  <ion-row>
    <ion-col ></ion-col>
    <ion-col style="min-width:350px;">
<ion-card class="ionCardLogin">
  <ion-toolbar> 
    <ion-back-button defaultHref="/tab1" (click)="myBackButton();" slot="start" color="primary"></ion-back-button>
    <ion-buttons slot="end">
    <ion-button (click)="guardar()" [strong]="true">Guardar</ion-button>
  </ion-buttons></ion-toolbar> 
<form [formGroup]="registroForm">
  <ion-card-content>

    <ion-card-header>
    <ion-row (click)="subirFotoPerfil();" style="cursor: pointer;">
      <ion-col>
        <img   src="https://libreviaje.com/images/{{FOTO_PERFIL}}" class="img-circle medium-image"/>
        <ion-icon name="camera"></ion-icon>&nbsp;
       </ion-col>
    </ion-row>



        <ion-card-title class="etiqueta">
          <ion-row>
            <ion-col class="etiqueta" size="12"><strong>EMPRESA</strong></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="etiqueta" size="12"><ion-input formControlName="nombre" placeholder="Ingresar nombre empresa"></ion-input></ion-col>
          </ion-row>
        </ion-card-title>

        <ion-card-title class="etiqueta">
          <ion-row>
            <ion-col class="etiqueta" size="12"><strong>WHATSAPP</strong></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="etiqueta" size="12"><ion-input formControlName="whatsapp" placeholder="Ingresar whatsapp"></ion-input></ion-col>
          </ion-row>
        </ion-card-title>

        <ion-card-title class="etiqueta">
          <ion-row>
            <ion-col class="etiqueta" size="12"><strong>MENSAJE CHAT</strong></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="etiqueta" size="12">
              <ion-textarea class="etiqueta" formControlName="mensaje_bienvenida" placeholder="Ingresar mensaje de bienvenida para el chat."></ion-textarea>
            </ion-col>
          </ion-row>
        </ion-card-title>

         


</ion-card-header>
    </ion-card-content>



</form>

</ion-card>

</ion-col>
<ion-col></ion-col>
</ion-row></ion-grid>
</ion-content>
