<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="nuevo" class="menu_inicio">
      <ion-icon name="add" style="font-family: 'Helvetica';color:#2c0e4c;"></ion-icon>
      Publicar
    </ion-tab-button>

    <ion-tab-button tab="tab1" class="menu_inicio">
      <ion-icon name="airplane-sharp" style="font-family: 'Helvetica';color:#2c0e4c;"></ion-icon>
      Salidas
    </ion-tab-button>



    <ion-tab-button tab="tab3" class="menu_inicio">
      <ion-icon name="logo-usd" style="font-family: 'Helvetica';color:#2c0e4c;"></ion-icon>
      Reservas
    </ion-tab-button>



  </ion-tab-bar>
</ion-tabs>
