<ion-header> 
  <ion-toolbar> 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>      
    <img src='assets/logo_top.png'
    style="padding-top: 5px; padding-bottom: 2px; width: 35%; height: 35%;max-width:87px;max-height:43px"/>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-card>
      <ion-toolbar> 
        <ion-back-button defaultHref="/tab1" (click)="myBackButton();" slot="start" color="primary"></ion-back-button>
        <ion-buttons slot="end">
        <ion-button (click)="guardar()" [strong]="true">PUBLICAR</ion-button>
      </ion-buttons></ion-toolbar>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
    <ion-row>
      <ion-col class="etiqueta" size="12">DIA / HORA</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="etiqueta" size="12">
            <ion-input style="min-width:250px;font-size:16px;--placeholder-color: currentColor;
            --placeholder-opacity: 0.33;" placeholder="¿Qué dia y a qué hora sale el avión?"
              value="{{ date | date: 'yyyy-MM-dd HH:mm:ss' }}"
              id="date"></ion-input>
            <ion-popover trigger="date" size="cover">
              <ng-template>
                <ion-datetime
                  presentation="date-time"
                  [(ngModel)]="date"
                ></ion-datetime>
              </ng-template>
            </ion-popover>
      </ion-col>
    </ion-row>
          <ion-row>
            <ion-col class="etiqueta" size="12">SALIDA</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="etiqueta" size="12">
            <ion-list>
              <ion-item>
                <ion-select  class="nuevo_vuelo" [(ngModel)]="salida" interface="action-sheet" placeholder="¿Desde dónde sale?">
                  <ion-select-option *ngFor="let lugar of lugares" [value]="lugar">{{lugar.DESCRIPCION}}</ion-select-option>

                </ion-select>
              </ion-item>
            </ion-list>
            </ion-col>
          </ion-row>


        <ion-row>
          <ion-col class="etiqueta" size="12">DESTINO</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="etiqueta" size="12">
          <ion-list>
            <ion-item>
              <ion-select   class="nuevo_vuelo" [(ngModel)]="destino" interface="action-sheet" placeholder="¿Hacia dónde va?">
                <ion-select-option *ngFor="let lugar of lugares" [value]="lugar">{{lugar.DESCRIPCION}}</ion-select-option>

              </ion-select>
            </ion-item>
          </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="etiqueta" size="12">AVION</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="etiqueta" size="12">
          <ion-list>
            <ion-item>
              <ion-select  class="nuevo_vuelo" [(ngModel)]="avion" interface="action-sheet" placeholder="¿Qué avion esta disponible?">
                <ion-select-option *ngFor="let avion of aviones" [value]="avion">{{avion.MARCA}} - {{avion.MODELO}}</ion-select-option>

              </ion-select>
            </ion-item>
          </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="etiqueta" size="12">CANTIDAD DE ASIENTOS</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="etiqueta" size="12">
          <ion-list>
            <ion-item>
              <ion-input   class="nuevo_vuelo" [(ngModel)]="asientos" inputmode="numeric" min="1" type="number" placeholder="¿Cuantos asientos libres tiene?"></ion-input>
            </ion-item>
          </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="etiqueta" size="12">PRECIO C/ASIENTO (USD)</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="etiqueta" size="12">
          <ion-list>
            <ion-item>
              <ion-input  class="nuevo_vuelo" [(ngModel)]="precio" step="50" inputmode="numeric" min="100" type="number" placeholder="¿Cuantos dólares cuesta cada asiento?"></ion-input>
            </ion-item>
          </ion-list>
          </ion-col>
        </ion-row>



          



</ion-col>

</ion-row>
</ion-card>
</ion-grid>
</ion-content>
