<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    &nbsp;
      <img src='https://libreviaje.com/images/logo_top_new.png'
      style="padding-top: 5px; padding-bottom: 2px; width: 20%; height: 20%;max-width:87px;max-height:43px"/>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
    <ion-row>
      <ion-col class="etiqueta" size="6">DIA / HORA</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="etiqueta" size="6">
            <ion-input style="font-size:16px;--placeholder-color: currentColor;
            --placeholder-opacity: 0.33;" placeholder="¿Qué dia y a qué hora salís?"
              value="{{ date | date: 'yyyy-MM-dd HH:mm:ss' }}"
              id="date"></ion-input>
            <ion-popover trigger="date" size="cover">
              <ng-template>
                <ion-datetime
                  presentation="date-time"
                  [(ngModel)]="date"
                ></ion-datetime>
              </ng-template>
            </ion-popover>
      </ion-col>
    </ion-row>
          <ion-row>
            <ion-col class="etiqueta" size="6">SALIDA</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="etiqueta" size="6">
            <ion-list>
              <ion-item>
                <ion-select  [(ngModel)]="salida" interface="action-sheet" placeholder="¿Desde dónde salis">
                  <ion-select-option *ngFor="let lugar of lugares" [value]="lugar">{{lugar.DESCRIPCION}}</ion-select-option>

                </ion-select>
              </ion-item>
            </ion-list>
            </ion-col>
          </ion-row>


        <ion-row>
          <ion-col class="etiqueta" size="6">DESTINO</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="etiqueta" size="6">
          <ion-list>
            <ion-item>
              <ion-select  [(ngModel)]="destino" interface="action-sheet" placeholder="¿Hacia dónde vas?">
                <ion-select-option *ngFor="let lugar of lugares" [value]="lugar">{{lugar.DESCRIPCION}}</ion-select-option>

              </ion-select>
            </ion-item>
          </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="etiqueta" size="6">CANTIDAD DE ASIENTOS</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="etiqueta" size="6">
          <ion-list>
            <ion-item>
              <ion-input   [(ngModel)]="asientos" inputmode="numeric" min="1" type="number" placeholder="¿Cuantos asientos libres hay?"></ion-input>
            </ion-item>
          </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="etiqueta" size="6">PRECIO C/ASIENTO (USD)</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="etiqueta" size="6">
          <ion-list>
            <ion-item>
              <ion-input [(ngModel)]="precio" step="50" inputmode="numeric" min="100" type="number" placeholder="¿Cuantos dólares vas a cobrar por cada asiento?"></ion-input>
            </ion-item>
          </ion-list>
          </ion-col>
        </ion-row>



          <ion-row>
            <ion-col class="etiqueta" size="12">
              <ion-button class="botones" shape="round"  (click)="guardar();">
                <ion-icon name="save-outline"></ion-icon>&nbsp;GUARDAR</ion-button>
            </ion-col>
          </ion-row>



</ion-col>
<ion-col></ion-col>
</ion-row></ion-grid>
</ion-content>
