<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    &nbsp;
      <img src='assets/logo_top.png'
      style="padding-top: 5px; padding-bottom: 2px; width: 20%; height: 20%;max-width:87px;max-height:43px"/>

     </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid *ngIf="nomostrar" >   <!--ESTADOS NUEVOS-->

<ion-card >

  <ion-row class="etiqueta">
<ion-col size="5"><span style="font-weight: bold;color:#2c0e4c">SALIDA / DESTINO</span></ion-col>

<ion-col size="4"><span style="font-weight: bold;color:#2c0e4c">DESCRIPCIÓN</span></ion-col>

<ion-col size="3" style="text-align:center;"><span style="font-weight: bold;color:#2c0e4c">ACCIÓN
  &nbsp;&nbsp;<ion-icon style="font-weight: bold;color:#2c0e4c;font-size: 20px;" name="refresh-outline" (click)="getReservasDisponibles();"></ion-icon></span></ion-col>
</ion-row></ion-card>
          <ion-card *ngFor="let consulta of reservas">
          <ion-row class="etiqueta">
              <ion-col size="5">
                <ion-icon name="locate-sharp"></ion-icon>&nbsp; {{consulta.SALIDA}} <br/>
                <ion-icon name="pin-sharp"></ion-icon>&nbsp; {{consulta.DESTINO}}
                </ion-col>

             <ion-col size="4">
              &nbsp;<strong><ion-icon name="calendar-sharp"></ion-icon>&nbsp;</strong>&nbsp;{{consulta.DIA_HORA_SALIDA |  date:'dd/MM/yyyy' }} <br/>
              &nbsp;<strong><ion-icon name="time-sharp"></ion-icon>&nbsp;</strong>&nbsp;{{consulta.DIA_HORA_SALIDA | date:'HH:mm'}}hs.&nbsp;<br/>
              &nbsp;<strong><ion-icon name="person-sharp"></ion-icon>&nbsp;</strong>&nbsp;{{consulta.NOMBRE_PASAJERO}} {{consulta.APELLIDO_PASAJERO}} <br/>
              &nbsp;<strong><ion-icon name="logo-steam" class="rotate-90"></ion-icon>&nbsp;</strong>&nbsp;{{consulta.ASIENTOS_COMPRADOS}} asientos&nbsp;<br/>
              &nbsp;<strong><ion-icon name="airplane-sharp"></ion-icon>&nbsp;</strong>&nbsp;{{consulta.ESTADO_VIAJE}}&nbsp;
                   </ion-col>
 <ion-col size="3" style="text-align:center;">
                     <ion-label  (click)="abrirChat(consulta.idPILOTOS_RESERVAS,consulta.idPILOTOS,
                     consulta.idUSUARIO,consulta.MAIL_PASAJERO,consulta.NOMBRE_PILOTO);" *ngIf="consulta.ESTADO_RESERVA==='PAGO' && consulta.ESTADO_VIAJE==='PENDIENTE'">
                     <br/><ion-icon name="chatbubble-ellipses-outline" style="color:#2c0e4c;font-size:22px;">
                    </ion-icon>
                    &nbsp;<br/>
                    Chatear con {{consulta.NOMBRE_PASAJERO}}
                  </ion-label>



                  <ion-label  (click)="mensajeProcesandoPago(consulta.NOMBRE_PASAJERO);" *ngIf="consulta.ESTADO_RESERVA==='NO_PAGO'" class="etiqueta">
                    <br/><ion-icon  name="time-outline"
                    style="font-size:22px;color:#2c0e4c;">
                    </ion-icon>&nbsp;<br/>
                    Procesando pago
                  </ion-label>









                       </ion-col>
                       <!-- <ion-col *ngIf="consulta.ESTADO_VIAJE==='PENDIENTE'">-->

                                </ion-row>
        </ion-card>
        </ion-grid>
</ion-content>
