<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    &nbsp;
      <img src='https://libreviaje.com/images/logo_top_new.png'
      style="padding-top: 5px; padding-bottom: 2px; width: 20%; height: 20%;max-width:87px;max-height:43px"/>

     </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid *ngIf="nomostrar" >   <!--ESTADOS NUEVOS-->

<ion-card >

  <ion-row class="etiqueta">
<ion-col size="4"><span style="font-weight: bold;color:#8C1B24">SALIDA / DESTINO</span></ion-col>

<ion-col size="4"><span style="font-weight: bold;color:#8C1B24">DESCRIPCIÓN</span></ion-col>

<ion-col size="4"><span style="font-weight: bold;color:#8C1B24">ACCIÓN
  &nbsp;&nbsp;<ion-icon style="font-weight: bold;color:#8C1B24;font-size: 20px;" name="refresh-outline" (click)="getReservasDisponibles();"></ion-icon></span></ion-col>
</ion-row></ion-card>
          <ion-card *ngFor="let consulta of reservas">
          <ion-row class="etiqueta">
              <ion-col size="4">
                {{consulta.SALIDA}} -> {{consulta.DESTINO}}
                </ion-col>

             <ion-col size="4">
              $ {{consulta.TOTAL}} (Costo total por  {{consulta.ASIENTOS_COMPRADOS}} asientos)
              &nbsp;-&nbsp;
              {{consulta.ESTADO_VIAJE}}
                   </ion-col>
 <ion-col size="4">
                     <ion-label  (click)="abrirChat(consulta.idPILOTOS_RESERVAS,consulta.idPILOTOS,
                     consulta.idUSUARIO,consulta.EMAIL_PILOTO,consulta.NOMBRE_PASAJERO);" *ngIf="consulta.ESTADO_RESERVA==='PAGO' && consulta.ESTADO_VIAJE==='PENDIENTE' && consulta.COMPROBANTE!=='NO'">
                     <ion-icon name="chatbubble-ellipses-outline" style="color:#8C1B24;font-size:22px;">
                    </ion-icon>

                  </ion-label>
                  <ion-label (click)="subirComprobante(consulta.idPILOTOS_RESERVAS);"
                  *ngIf="consulta.COMPROBANTE==='NO'">
                    <ion-icon name="cloud-upload-outline" style="font-size:22px;" color="secondary"></ion-icon>
                  </ion-label>


                  <ion-label *ngIf="consulta.COMPROBANTE!=='NO' && consulta.ESTADO_RESERVA==='VERIFICAR'">
                    <ion-icon name="time-outline" style="font-size:22px;color:#e0ac08;"></ion-icon>

                  </ion-label>







                       </ion-col>
                       <!-- <ion-col *ngIf="consulta.ESTADO_VIAJE==='PENDIENTE'">-->

                                </ion-row>
        </ion-card>
        </ion-grid>
</ion-content>
