<ion-app>

  <ion-menu side="start" type="push" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title class="menu_inicio_titulo"></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ion-list >
        <ion-item routerLink="nuevo" (click)="closeMenu();" class="menu_inicio">
          <ion-icon slot="start"  name="add" style="font-family: 'Helvetica';color:#6742e0d5;"></ion-icon>
          PUBLICAR
        </ion-item>

        <ion-item routerLink="tab1" (click)="closeMenu();" class="menu_inicio">
          <ion-icon slot="start"  name="airplane-sharp" style="font-family: 'Helvetica';color:#6742e0d5;"></ion-icon>
          VUELOS
        </ion-item>

        <ion-item routerLink="tab3" (click)="closeMenu();" class="menu_inicio">
          <ion-icon slot="start"  name="logo-usd" style="font-family: 'Helvetica';color:#6742e0d5;"></ion-icon>
          VENTAS
        </ion-item>

         <ion-item routerLink="tab4" (click)="closeMenu();" class="menu_inicio">
          <ion-icon slot="start"  name="person-sharp" style="font-family: 'Helvetica';color:#6742e0d5;"></ion-icon>
          PERFIL
        </ion-item>

        <ion-item routerLink="home" (click)="closeMenu();" class="menu_inicio">
          <ion-icon slot="start"  name="information-circle-sharp" style="font-family: 'Helvetica';color:#6742e0d5;"></ion-icon>
          AYUDA
        </ion-item>

        <ion-item routerLink="cerrar" (click)="closeMenu();" class="menu_inicio">
          <ion-icon slot="start"  name="log-out-sharp" style="font-family: 'Helvetica';color:#6742e0d5;"></ion-icon>
          SALIR
        </ion-item>


      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>


</ion-app>
