<ion-app>

  <ion-menu side="start" type="push" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title class="menu_inicio_titulo">MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ion-list ><ion-card>
        <ion-item routerLink="tab1" (click)="closeMenu();">
          <ion-icon slot="start"  name="airplane-sharp" color="secondary"></ion-icon>
          <span class="menu_inicio">SALIDAS</span>
        </ion-item>

        <ion-item routerLink="tab3" (click)="closeMenu();">
          <ion-icon slot="start"  name="bag-check-sharp" color="secondary"></ion-icon>
          <span class="menu_inicio">RESERVAS</span>
        </ion-item>

         <ion-item routerLink="tab4" (click)="closeMenu();">
          <ion-icon slot="start"  name="person-sharp" color="secondary"></ion-icon>
          <span class="menu_inicio">MI PERFIL</span>
        </ion-item>

        <ion-item routerLink="home" (click)="closeMenu();">
          <ion-icon slot="start"  name="information-circle-sharp" color="secondary"></ion-icon>
          <span class="menu_inicio">AYUDA</span>
        </ion-item>

        <ion-item routerLink="cerrar" (click)="closeMenu();">
          <ion-icon slot="start"  name="log-out-sharp" color="secondary"></ion-icon>
          <span class="menu_inicio">SALIR</span>
        </ion-item>

      </ion-card>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>


</ion-app>
