<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    &nbsp;
      <img src='assets/logo_top.png'
      style="padding-top: 5px; padding-bottom: 2px; width: 20%; height: 20%;max-width:87px;max-height:43px"/>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col ></ion-col>
  <ion-col style="min-width:350px;">
  <ion-card class="ionCard">
    <ion-card-content>
            <ion-card-header>
                    <ion-card-title class="etiqueta"><ion-button expand="full" (click)="logout()" >
                      ¿Cerrar sesión?
                    </ion-button></ion-card-title>
</ion-card-header>
</ion-card-content>
</ion-card>

</ion-col>
<ion-col></ion-col>
</ion-row></ion-grid>
</ion-content>
