<ion-header> 
  <ion-toolbar> 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>      
    <img src='assets/logo_top.png'
    style="padding-top: 5px; padding-bottom: 2px; width: 35%; height: 35%;max-width:87px;max-height:43px"/>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-card>
      <ion-toolbar> 
        <ion-back-button defaultHref="/tab1" (click)="myBackButton();" slot="start" color="primary"></ion-back-button>
        <ion-buttons slot="end">
        <ion-button (click)="logout()" [strong]="true">Cerrar Sesión</ion-button>
      </ion-buttons></ion-toolbar>
    </ion-card>
  </ion-grid>
  </ion-content>
