<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    &nbsp;
      <img src='assets/logo_top.png'
      style="padding-top: 5px; padding-bottom: 2px; width: 20%; height: 20%;max-width:87px;max-height:43px"/>
  </ion-toolbar>
</ion-header>

<ion-content><ion-grid>
  <ion-row>
    <ion-col ></ion-col>
    <ion-col style="min-width:350px;">
<ion-card class="ionCardLogin">
<form [formGroup]="registroForm" (submit)="guardar()">
  <ion-card-content>
    <ion-card-header>
        <ion-card-title class="etiqueta">
          <ion-row>
            <ion-col class="etiqueta" size="6">Tipo de Consulta</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="etiqueta" size="6">
              <ion-select placeholder="Elegí una opción" formControlName="tipoConsulta"  okText="Aceptar" cancelText="Cancelar">
                <ion-select-option value="Uso de la plataforma" selected>Uso de la plataforma</ion-select-option>
                <ion-select-option value="Cancelación de reserva">Cancelar reserva</ion-select-option>
                <ion-select-option value="Otras consultas">Otras consultas</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-card-title>

        <ion-card-title class="etiqueta">
          <ion-row>
            <ion-col class="etiqueta" size="6">CONSULTA</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="etiqueta" size="6">
             <ion-textarea required formControlName="consulta" rows={6} cols={20} placeholder="Escribe tu frase de resultado"></ion-textarea>
            </ion-col>
          </ion-row>
        </ion-card-title>

        <ion-card-title class="etiqueta">
          <ion-row>
            <ion-col class="etiqueta" size="12">
              <ion-button class="botones" shape="round"  type="submit">
                <ion-icon name="save-outline"></ion-icon>&nbsp;GUARDAR</ion-button>
            </ion-col>
          </ion-row>

        </ion-card-title>


</ion-card-header>
    </ion-card-content>



</form>

</ion-card>

</ion-col>
<ion-col></ion-col>
</ion-row></ion-grid>
</ion-content>
